#
# Baresip configuration for HomeAssistant VOIP CLIENT addon
# See https://github.com/baresip/baresip/wiki/Configuration for reference
#
# Baresip CONTACTS config file
#
{{ range .contacts }}
"{{ .name }}" {{ .uri }}
{{ end }}
