#
# Baresip configuration for HomeAssistant VOIP CLIENT addon
# See https://github.com/baresip/baresip/wiki/Configuration for reference
#
# Baresip ACCOUNTS config file
#

# Just 1 account; the one provided in addon config "voip_provider":
{{ .voip_provider.account }};auth_pass={{ .voip_provider.password }}
